*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  font-family: montserrat;
}
nav{
  background-color: #0082e6;
  height: 80px;
  width:100%;
  position: fixed;
  top:0;
}
label.logo{
  color:white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
  display:flex;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin:0 5px;
}
 nav ul li a{
  color: white;
  font-size: 17px;
  padding:7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active{
  background: #1b9bff;
  transform: 0.5s;
}
.intro{
  margin-left: 35%;
  margin-top: 15%;
}
.intro h1{
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
}
span{
  color:orange;
}
.intro p{
  color:#555;
  line-height: 22px;
  font-size: 20px;
  
}

.aboutme h1{
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
  margin-left: 30%;
}
.aboutme {
  margin-left: 15%;
  margin-top: 15%;
}
.aboutme p{
  font-size: 30px;
  color: #212121;
  margin-bottom: 20px;
}
.contact{
  margin-left: 35%;
  margin-top: 15%;
}
.contact h1{
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
  margin-left: 6%;
}
.contact ul {
  display: flex;
  flex-direction: column;
  width:350px;
}
.contact ul li{
  line-height: 10px;
  margin-bottom: 5px;
}
.contact ul li{
  list-style:none;
  margin:10px 30px;
  font-size: 20px;
  padding: 20px 20px;
  color: #fff;
  border: 1px solid #1b9bff;
  border-radius: 3px;
}
.gallery{
  margin-left: 35%;
  margin-top: 15%;
}
.gallery h1{
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
  margin-left: 6%;
}
.images{
  display: grid;
  height:400px;
  width:400px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.images img{
  height:100px;
  width:100px;
}